.footer {
  background-image: url("../img/footer-bg.png"), url("../img/hero-bg.jpg");
  background-position: right top, 0 0;
  background-repeat: no-repeat;
  @media (max-width: (1440px)) {
    background-size: contain, cover;
  }
  @include mobile {
    background-position: bottom, top;
    background-size: 100% 60%, 100% 40%;
  }

  &__container {
    grid-template-rows: 60px calc(100vh - 135px) 42px;
    @include mobile {
      grid-template-rows: 60px repeat(2, calc(50vh - 60px)) 60px;
    }
    @include small {
      grid-template-rows: 60px repeat(2, calc(42vh - 60px)) 60px;
    }
  }

  &__inner {
    grid-row: 2/2;
    padding-top: 123px;
    @media (max-width: (1600px)) {
      padding-top: 100px;
    }
    @media (max-width: (1367px)) {
      padding-top: 30px;
    }
    @include mobile {
      grid-row: 2/4;
    }
  }

  &__wr {
    @include mobile {
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      height: 100%;
    }
  }

  &__title {
    @media (max-width: (1600px)) {
      font-size: 90px;
      line-height: 117px;
    }
    @media (max-width: (1367px)) {
      font-size: 60px;
      line-height: 90px;
    }
    @include small {
      font-size: 50px;
      line-height: 60px;
    }
  }

  &__subtitle {
    color: var(--color-white);
  }

  &__btn {
    margin-top: 70px;
    @media (max-width: (1600px)) {
      margin-top: 40px;
    }
  }

  &__top {
    display: grid;
    align-items: center;
    grid-column: 1/13;
    grid-column-gap: 30px;
    grid-row: 1/2;
    grid-template-columns: repeat(12, 1fr);
    margin-top: 30px;
  }

  &__contacts {
    grid-column: 10/13;
    color: #fff;
  }

  &__link {
    padding-left: 30px;
    background-position: left center;
    background-size: 24px;
    background-repeat: no-repeat;
  }

  &__email {
    margin-right: 100px;
    font-weight: 300;
    background-image: url("../img/sprite.svg#icon-email");
  }

  &__phone {
    font-family: "Bebas";
    font-weight: 700;
    font-size: 25px;
    background-image: url("../img/sprite.svg#icon-phone");
  }

  &__info {
    margin-right: 137px;
    max-width: 651px;
    color: var(--color-white);
    @media (max-width: (1024px)) {
      margin-right: 85px;
    }
    @include mobile {
      max-width: 100%;
    }
    @include small {
      margin-right: 0;
    }
  }

  &__map {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-left: auto;
    padding: 0 56px;
    width: 330px;
    height: 330px;
    border: 1px solid var(--color-green);
    border-radius: 50%;
    color: var(--color-white);
    background-image: url("../img/footer-contacts-bg.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(0 4px 120px rgba(255, 255, 255, 0.15));
    @media (max-width: (1367px)) {
      align-items: flex-start;
      width: 300px;
      height: 300px;
    }
    @media (max-width: (1024px)) {
      padding: 0 67px;
    }
    @include mobile {
      margin: 0;
    }
    @include height {
      margin: 40px auto;
    }


    &::after {
      content: '';
      position: absolute;
      bottom: -22px;
      width: 21px;
      height: 21px;
      background-image: url("../img/sprite.svg#icon-map-dots");
      background-repeat: no-repeat;
      @media (max-width: (1367px)) {
        left: 50%;
      }
    }

    &::before {
      content: "";
      position: absolute;
      bottom: -62px;
      left: 120px;
      width: 40px;
      height: 45px;
      background-image: url("../img/sprite.svg#icon-map-location");
      background-repeat: no-repeat;
    }
  }

  &__caption {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 800;
    font-size: 40px;
    line-height: 59px;
    text-align: center;
    @media (max-width: (1367px)) {
      font-size: 30px;
      line-height: 40px;
    }
  }

  &__address {
    margin: 0;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    @media (max-width: (1367px)) {
      font-size: 16px;
      line-height: 20px;
    }
  }

  &__copy {
    grid-column: 1/11;
    grid-row: 3/3;
    font-size: 12px;
    color: var(--color-white);
    @media (max-width: (1600px)) {
      grid-column: 2/11;
      align-self: end;
    }
    @include mobile {
      display: none;
    }

    &_link {
      text-decoration: underline;
      color: var(--color-green);
    }
  }

  &__social {
    grid-column: 12;
    grid-row: 3;
    @include mobile {
      grid-column: 1/7;
      grid-row: 4;
      justify-self: center;
    }
    @include small {
      justify-self: start;
    }
  }
}

.footer-nav {
  justify-content: space-between;
  margin-top: 40px;
  @include mobile {
    display: none;
  }

  &__caption {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 800;
    font-size: 13px;
    line-height: 19px;
    text-transform: uppercase;
    @media (max-width: (1367px)) {
      font-size: 11px;
      margin-bottom: 10px;
    }
  }

  &__link {
    @media (max-width: (1367px)) {
      font-size: 14px;
    }
  }
}
