.header {
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: transparent;
  display: grid;
  align-items: center;
  grid-column-gap: 30px;
  grid-row: 1/2;
  grid-template-columns: repeat(12, 1fr);
  margin: 30px 30px 0;
  max-width: 1860px;
  color: var(--color-black);
  transition: color .1s linear;
  &_white {
    color: var(--color-white);
  }
  &__contacts {
    grid-column: 10/13;
    color: inherit;
  }
  &__link {
    padding-left: 30px;
    background-position: left center;
    background-size: 24px;
    background-repeat: no-repeat;
  }
  &__email {
    margin-right: 100px;
    font-weight: 300;
    background-image: url("../img/sprite.svg#icon-email");
  }
  &__phone {
    font-family: "Bebas";
    font-weight: 700;
    font-size: 25px;
    background-image: url("../img/sprite.svg#icon-phone");
  }
}
