.nav {
  grid-column: 5/9;
  @media (max-width: (1900px)) {
    grid-column: 4/9;
  }
  @media (max-width: (1200px)) {
    grid-column: 3/9;
  }
  @include mobile {
    position: absolute;
    top: 0;
    left: 0;
    grid-column: 1/7;
    margin: 0 -30px;
    width: 100vw;
    height: 100vh;
    background-color: #23252a;
    transform: translateY(-101%);
    transition: transform .7s ease-in-out;
  }
  &.is-open {
    transform: translateY(0);
    color: #fff;
  }
  &__list {
    display: flex;
    font-weight: 800;
    font-size: 13px;
    text-transform: uppercase;
    color: inherit;
    @media (max-width: (1600px)) {
      font-size: 12px;
    }
    @media (max-width: (1024px)) {
      font-size: 11px;
    }
    @include mobile {
      height: 80%;
      align-items: center;
      justify-content: center;
    }
    @include small {
      flex-direction: column;
      gap: 20px;
    }
  }
  &__item {
    margin-right: 11%;
    &:last-child {
      margin-right: 0;
    }
    @include small {
      margin-right: 0;
    }
  }
  &__link {
    transition: color .5s ease-in-out;
    &:hover {
      color: var(--color-green);
    }
  }
}

.mobile-contacts {
  display: flex;
  justify-content: space-around;
  @include small {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}
