.sidebar {
  position: fixed;
  top: 10%;
  left: 65px;
  z-index: 100;
  width: 50px;
  height: 100%;
  @media (max-width: (1440px)) {
    left: 30px;
  }
}

.pagination {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 120px auto 0;
  padding: 30px 0;
  width: 1px;
  height: 558px;
  border-left: 1px dashed currentColor;
  color: #a1b0c7;
  @media (max-width: (1367px)) {
    height: 355px;
  }
  &.white {
    color: var(--color-white);
  }
  &__icon {
    display: block;
    width: 7px;
    height: 13px;
    border-radius: 15px;
    background-color: currentColor;
    @media (max-width: (1367px)) {
      width: 5px;
      height: 8px;
    }
  }
  &__step {
    position: relative;
    z-index: 10;
    padding: 23px 11px 8px;
    border-radius: 15px;
    transition: all .1s ease-in-out;
    @media (max-width: (1367px)) {
      padding: 15px 7px 5px;
    }
    &.active {
      border: 2px solid currentColor;
      .pagination__icon {
        background-color: var(--color-green);
      }
    }
  }

}

.logo-white {
  .pagination {
    background-color: var(--color-white);
    &__step {
      border-color: var(--color-white);
    }
    &__icon {
      background-color: var(--color-white);
      &_active {
        background-color: var(--color-green);
      }
    }
  }
}
