:root {
  --color-black: #000;
  --color-white: #fff;
  --color-green: #009f90;
  --color-grey: #a1b0c7
; }

.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1; }

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px; }

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none; }

@font-face {
  font-family: "Bebas";
  src: url("../fonts/../fonts/BebasNeueBold.woff2") format("woff2"), url("../fonts/../fonts/BebasNeueBold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: "Circe";
  src: url("../fonts/../fonts/Circe-Bold.woff2") format("woff2"), url("../fonts/../fonts/Circe-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: "Circe";
  src: url("../fonts/../fonts/Circe-ExtraBold.woff2") format("woff2"), url("../fonts/../fonts/Circe-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: "Circe";
  src: url("../fonts/../fonts/Circe-Light.woff2") format("woff2"), url("../fonts/../fonts/Circe-Light.woff") format("woff");
  font-weight: 300;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: "Circe";
  src: url("../fonts/../fonts/Circe-ExtraLight.woff2") format("woff2"), url("../fonts/../fonts/Circe-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: "Circe";
  src: url("../fonts/../fonts/Circe-Regular.woff2") format("woff2"), url("../fonts/../fonts/Circe-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: "Open-Sans";
  src: url("../fonts/../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  margin: 0;
  font-family: "Circe", sans-serif;
  font-weight: 350;
  font-size: 16px;
  color: #000;
  background-color: #000; }

img {
  max-width: 100%; }

a {
  text-decoration: none;
  color: inherit; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.is-outer {
  position: relative !important;
  left: -9999px !important; }

.is-hidden {
  display: none !important; }

.for-mobile {
  display: none; }
  @media (max-width: 768px) {
    .for-mobile {
      display: block; } }

.error {
  border: 2px #ff4019 solid !important; }

.btn-reset {
  border: none;
  background: transparent;
  cursor: pointer; }

.flex {
  display: flex; }

.ai-center {
  align-items: center; }

.section {
  position: relative;
  overflow: hidden;
  height: 100vh;
  background-color: #fff; }

.panel {
  width: 100vw;
  position: absolute;
  z-index: 100; }

#pinContainer {
  width: 100%;
  height: 100vh;
  overflow: hidden; }

.logo {
  grid-column: 1/2;
  font-family: "Open-Sans";
  font-weight: 700;
  font-size: 0;
  line-height: 0;
  color: currentColor; }
  .logo__img {
    font-size: 0;
    line-height: 0; }
  .logo span {
    position: relative;
    display: inline-block;
    padding-top: 2px;
    padding-bottom: 3px;
    border-bottom: 2px solid var(--color-green);
    font-size: 20px;
    line-height: 1; }
    .logo span::after {
      content: "";
      position: absolute;
      top: -7px;
      right: -8px;
      width: 4px;
      height: 16px;
      background-image: url("../img/logo-dot.png");
      background-repeat: no-repeat;
      transform: translateY(9px); }

.logo-white .logo {
  color: #fff; }

.container {
  position: relative;
  z-index: 100;
  display: grid;
  grid-column-gap: 30px;
  grid-template-columns: repeat(12, 1fr);
  margin: 0 auto;
  max-width: 1860px; }

.inner {
  grid-column: 3/11;
  padding-top: 100px;
  max-width: 1230px; }

.title-h1 {
  margin: 0;
  font-weight: 700;
  font-size: 120px;
  line-height: 177px;
  color: #fff; }

.title-h2 {
  margin: 0;
  margin-bottom: 65px;
  font-weight: 800;
  font-size: 80px;
  line-height: 118px;
  text-transform: uppercase;
  color: #000; }
  .title-h2_white {
    color: #fff; }

.title-h3 {
  margin: 0;
  font-weight: 800;
  font-size: 36px;
  line-height: 46px; }

.subtitle {
  margin: 0;
  font-weight: 350;
  font-size: 20px;
  line-height: 29px;
  color: var(--color-grey); }
  .subtitle_upper {
    text-transform: uppercase; }

.btn {
  z-index: 100;
  display: inline-block;
  padding: 24px 62px;
  border-radius: 5px;
  box-shadow: 0 20px 50px rgba(255, 3, 51, 0.5);
  font-weight: 800;
  font-size: 23px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #fff;
  background-image: linear-gradient(90deg, #cb000e 0%, #e70a35 49.48%, #cb000e 100%);
  transition: background-image .5s ease-in-out, transform .5s ease-in-out; }

.btn:hover {
  background-image: linear-gradient(90deg, var(--color-green) 0%, #e70a35 49.48%, var(--color-green) 100%);
  transform: translateY(-10px); }

.js-focus-visible :focus:not(.focus-visible) {
  outline: none; }

.slogan {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  font-weight: 800;
  font-size: 170px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: #e5e5e5;
  opacity: 0.3; }

/*# sourceMappingURL=global.css.map */
