<section id="eight" class="section blog panel">
  <div class="container">
    @include('../sidebar.html')
    <div class="inner blog__inner">
      <h2 class="title-h2 blog__title">Блог</h2>
      <div class="flex">
        <p class="subtitle blog__subtitle subtitle_upper">из нашего блога //обучение, рост, экспертиза</p>
        <button class="btn btn-reset blog__btn">Больше блогов</button>
      </div>
      <div class="flex blog__list">
        <article class="blog__item" style="background-image: url('img/blog-01.png');">
          <h3 class="title-h3 blog__caption">Твиттер начал тест платного доступа к контенту</h3>
          <div class="blog__icon">
            <svg>
              <use xlink:href="img/sprite.svg#icon-twitter"></use>
            </svg>
          </div>
          <div class="red-round blog__icon-arrow">
            <svg>
              <use xlink:href="img/sprite.svg#icon-blog-arrow"></use>
            </svg>
          </div>
        </article>
        <article class="blog__item" style="background-image: url('img/blog-02.png');">
          <h3 class="title-h3 blog__caption">В Ads Creative Studio будут объединены инструменты по созданию рекламы в Google</h3>
          <div class="blog__icon">
            <svg>
              <use xlink:href="img/sprite.svg#icon-ads"></use>
            </svg>
          </div>
          <div class="red-round blog__icon-arrow">
            <svg>
              <use xlink:href="img/sprite.svg#icon-blog-arrow"></use>
            </svg>
          </div>
        </article>
        <article class="blog__item" style="background-image: url('img/blog-03.png');">
          <h3 class="title-h3 blog__caption">Яндекс.Метрика научилась отслеживать звонки с сайта на десктопе</h3>
          <div class="blog__icon">
            <svg>
              <use xlink:href="img/sprite.svg#icon-yandex"></use>
            </svg>
          </div>
          <div class="red-round blog__icon-arrow">
            <svg>
              <use xlink:href="img/sprite.svg#icon-blog-arrow"></use>
            </svg>
          </div>
        </article>
      </div>
    </div>
    <p class="slogan blog__slogan">информационный</p>
  </div>
</section>
