<section id="five" class="section clients logo-white panel">
  @include('../canvas.html')
  <div class="container">
    @include('../sidebar.html')
    <div class="inner clients__inner">
      <h2 class="title-h2 title-h2_white clients__title">Клиенты</h2>
      <div class="flex">
        <p class="subtitle clients__subtitle">Не имеет значение размер клиента, мы посвящаем себя в полной мере каждому из них.</p>
        <button class="btn btn-reset clients__btn">Ждем вас!</button>
      </div>
      <ul class="clients__list flex ai-center">
        <li class="clients__item">
          <img src="img/client-01.png" alt="">
        </li>
        <li class="clients__item">
          <img src="img/client-02.png" alt="">
        </li>
        <li class="clients__item">
          <img src="img/client-03.png" alt="">
        </li>
        <li class="clients__item">
          <img src="img/client-04.png" alt="">
        </li>
        <li class="clients__item">
          <img src="img/client-05.png" alt="">
        </li>
        <li class="clients__item">
          <img src="img/client-06.png" alt="">
        </li>
        <li class="clients__item">
          <img src="img/client-07.png" alt="">
        </li>
        <li class="clients__item">
          <img src="img/client-08.png" alt="">
        </li>
        <li class="clients__item">
          <img src="img/client-09.png" alt="">
        </li>
        <li class="clients__item">
          <img src="img/client-010.png" alt="">
        </li>
        <li class="clients__item">
          <img src="img/client-011.png" alt="">
        </li>
        <li class="clients__item">
          <img src="img/client-012.png" alt="">
        </li>
      </ul>
    </div>
    <p class="slogan clients__slogan">ценим каждого</p>
  </div>
</section>
