<section id="one" class="section hero">
  @include('../canvas.html')
  <div class="container hero__container">
    @include('../sidebar.html')
    <div class="inner hero__inner">
      <div class="flex">
        <div class="hero__info">
          <h1 class="title-h1 hero__title">Digital.Tools</h1>
          <p class="subtitle hero__subtitle">Агенство интернет-маркетинга для роста вашего бизнеса</p>
          <p class="subtitle hero__subtitle">Привлекаем трафик и конверсии на сайты наших клиентов с 2004 года</p>
          <button class="btn hero__btn btn-reset">Заказать услугу</button>
        </div>
        @include('../form.html')
      </div>
    </div>
    <div class="hero__partners partners">
      <ul class="partners__list">
        <li class="partners__item">
          <img src="img/partners-01.png" alt="Партнер AS SEEN IN">
        </li>
        <li class="partners__item">
          <img src="img/partners-02.png" alt="Партнер RB rusbase">
        </li>
        <li class="partners__item">
          <img src="img/partners-03.png" alt="Партнер CMS Magazine">
        </li>
        <li class="partners__item">
          <img src="img/partners-04.png" alt="Партнер Searchengines">
        </li>
        <li class="partners__item">
          <img src="img/partners-05.png" alt="Партнер Лайкни">
        </li>
        <li class="partners__item">
          <img src="img/partners-06.png" alt="Партнер Rusability">
        </li>
        <li class="partners__item">
          <img src="img/partners-07.png" alt="Партнер VC.ru">
        </li>
      </ul>
    </div>
    <div class="social hero__social">
      <ul class="social__list">
        <li class="social__item">
          <a href="" class="social__link">
            <svg class="social__icon social__icon_fb">
              <use xlink:href="img/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a href="" class="social__link">
            <svg class="social__icon social__icon_vk">
              <use xlink:href="img/sprite.svg#icon-vk"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
  @include("../search.html")
</section>
