<section class="section projects logo-white">
  <div class="container">
    @include('../sidebar.html')
    <div class="inner projects__inner">
      <h2 class="title-h2 title-h2_white">Услуги</h2>
      <div class="projects__slider case">
        <div class="case__wrapper flex">
          <div class="case__info">
            <a href="https://luminhouse.ru" target="_blank" class="case__link">luminhouse.ru</a>
            <ul class="case__list list">
              <li class="list__item">Веб-дизайн</li>
              <li class="list__item">Управление содержанием</li>
              <li class="list__item">SEO</li>
            </ul>
            <div class="case__description">
              <p class="case__text case__text_big">Клубный дом Lumin&nbsp;house</p>
              <p class="case__text case__text_small">Аапартаменты с премиальной отделкой</p>
              <p class="case__text case__text_medium">Завершение строительства - iv квартал 2022 г.</p>
              <p class="case__text case__text_tiny">Китай-город, Варварка, Зарядье</p>
            </div>
          </div>
          <img src="img/case-lumin-house.jpg" alt="Проект lumin house" class="case__img">
        </div>
      </div>
    </div>
  </div>
</section>
