<section id="three" class="section projects">
  @include('../canvas.html')
  <div class="container">
    @include('../sidebar.html')
    <div class="inner projects__inner">
      <h2 class="title-h2 title-h2_white projects__title">Проекты</h2>
      <div class="projects__slider case owl-carousel owl-theme">
          <div class="case__wrapper flex">
            <div class="case__info">
              <a href="https://luminhouse.ru" target="_blank" class="case__link">luminhouse.ru</a>
              <ul class="case__list list">
                <li class="list__item">Веб-дизайн</li>
                <li class="list__item">Управление содержанием</li>
                <li class="list__item">SEO</li>
              </ul>
              <div class="case__description">
                <p class="case__text case__text_big">Клубный дом Lumin&nbsp;house</p>
                <p class="case__text case__text_small">Аапартаменты с премиальной отделкой</p>
                <p class="case__text case__text_medium">Завершение строительства&nbsp;&mdash; iv&nbsp;квартал
                  2022&nbsp;г.</p>
                <p class="case__text case__text_tiny">Китай-город, Варварка, Зарядье</p>
                <a href="" class="btn btn-reset projects__btn">Подробнее</a>
              </div>
            </div>
            <div class="case__img">
              <img src="img/case-lumin-house.jpg" alt="Проект lumin house" class="">
            </div>
            <p class="slogan projects__slogan">luminhouse.ru</p>
          </div>

          <div class="case__wrapper flex">
            <div class="case__info">
              <a href="https://luminhouse.ru" target="_blank" class="case__link">luminhouse.ru</a>
              <ul class="case__list list">
                <li class="list__item">Веб-дизайн</li>
                <li class="list__item">Управление содержанием</li>
                <li class="list__item">SEO</li>
              </ul>
              <div class="case__description">
                <p class="case__text case__text_big">Клубный дом Lumin&nbsp;house</p>
                <p class="case__text case__text_small">Аапартаменты с премиальной отделкой</p>
                <p class="case__text case__text_medium">Завершение строительства&nbsp;&mdash; iv&nbsp;квартал
                  2022&nbsp;г.</p>
                <p class="case__text case__text_tiny">Китай-город, Варварка, Зарядье</p>
              </div>
              <a href="" class="btn btn-reset projects__btn">Подробнее</a>
            </div>
            <div class="case__img">
              <img src="img/case-lumin-house.jpg" alt="Проект lumin house" class="">
            </div>
            <p class="slogan projects__slogan">luminhouse.ru</p>
          </div>
      </div>

    </div>
  </div>
</section>
