<section id="two" class="section service">
  <div class="container">
    <div class="inner service__inner">
      <div class="flex ai-center">
        <h2 class="title-h2 service__title">Услуги</h2>
        <button class="btn-reset btn service__btn">Получить консультацию</button>
      </div>
      <p class="subtitle service__subtitle">SEO услуги индивидуальны для каждого клиента, которые отражают именно Ваши бизнес-потребности. Получите анализ, стратегию, прогноз, план работ и&nbsp;Ключевые показатели эффективности (КПЭ) для Вашего проекта бесплатно до&nbsp;подписания с&nbsp;нами контракта.</p>
      <div class="flex service__items">
        <article class="service__article">
          <h3 class="title-h3 service__caption">
            Разработка и аутстаффинг специалистов
            <svg class="service__icon">
              <use xlink:href="img/sprite.svg#service-01"></use>
            </svg>
          </h3>
          <ul class="service__list list">
            <li class="service__item list__item">Аутстаффинг специалистов</li>
            <li class="service__item list__item"><a href="#" class="link list__link">Создание сайтов</a></li>
            <li class="service__item list__item">Доработка сайтов</li>
            <li class="service__item list__item">Техническая поддержка сайтов</li>
          </ul>
        </article>
        <article class="service__article">
          <h3 class="title-h3 service__caption">
            SEO - поисковая оптимизация сайта
            <svg class="service__icon">
              <use xlink:href="img/sprite.svg#service-02"></use>
            </svg>
          </h3>
          <ul class="service__list list">
            <li class="service__item list__item">Продвижение сайтов в поисковых системах</li>
            <li class="service__item list__item">SEO сопровождение новых сайтов</li>
            <li class="service__item list__item">Рост органического трафика/лидов</li>
            <li class="service__item list__item">Вывод сайтов в ТОП поисковых систем</li>
          </ul>
        </article>
        <article class="service__article">
          <h3 class="title-h3 service__caption">
            SERM - управление репутацией в&nbsp;интернете
            <svg class="service__icon">
              <use xlink:href="img/sprite.svg#service-03"></use>
            </svg>
          </h3>
          <ul class="service__list list">
            <li class="service__item list__item">Улучшение тональности упоминаний в
              интернете о Компании/Персоне</li>
            <li class="service__item list__item">Работа с негативной выдачей в поисковых
              системах (Яндекс/Google Поиск, Видео,
              Картинки, Карты, YouTube)</li>
            <li class="service__item list__item">Работа по формированию узнаваемости в
              интернете (агенты влияния)</li>
          </ul>
        </article>
      </div>
    </div>
    <p class="slogan service__slogan">Экспертные решения</p>
  </div>
</section>
