<section class="section specialize">
  <div class="container">
    @include('../sidebar.html')
    <div class="inner specialize__inner">
      <h2 class="title-h2 specialize__title">Специализация</h2>
      <div class="flex ai-center">
        <p class="subtitle specialize__subtitle">Отраслевая специализация: программное обеспечение, интеграция внешних и внутренних систем, разработка дополнительных модулей. IT - решения для вашей отрасли.</p>
        <button class="btn btn-reset specialize__btn">Перезвонить</button>
      </div>
      <ul class="specialize__list flex">
        <li class="specialize__item specialize__item_01">
          <h3 class="title-h3 specialize__caption">E-commerce lorem</h3>
          <div class="red-round specialize__count">19</div>
        </li>
        <li class="specialize__item specialize__item_02">
          <h3 class="title-h3 specialize__caption">Медицина</h3>
          <div class="red-round specialize__count">16</div>
        </li>
        <li class="specialize__item specialize__item_03">
          <h3 class="title-h3 specialize__caption">Финансы</h3>
          <div class="red-round specialize__count">14</div>
        </li>
        <li class="specialize__item specialize__item_04">
          <h3 class="title-h3 specialize__caption">Производство</h3>
          <div class="red-round specialize__count">12</div>
        </li>
        <li class="specialize__item specialize__item_05">
          <h3 class="title-h3 specialize__caption">Порталы</h3>
          <div class="red-round specialize__count">9</div>
        </li>
        <li class="specialize__item specialize__item_06">
          <h3 class="title-h3 specialize__caption">Строительство</h3>
          <div class="red-round specialize__count">8</div>
        </li>
      </ul>
    </div>
    <p class="slogan specialize__slogan">профессионализм</p>
  </div>
</section>
