<section id="six" class="section success logo-white panel">
  @include('../canvas.html')
  <div class="container">
    @include('../sidebar.html')
    <p class="slogan success__slogan">Максимальный</p>
    <div class="inner success__inner">
      <h2 class="title-h2 title-h2_white success__title">Успех</h2>
      <p class="subtitle success__subtitle subtitle_upper">Мы добиваемся успеха</p>
      <p class="subtitle success__subtitle">Почему бизнесу важно продвижение в Интернете?</p>
      <div class="flex success__wrapper">
        <ul class="success__list">
          <li class="success__item">
            <div class="flex">
              <svg>
                <use xlink:href="img/sprite.svg#icon-sattelite"></use>
              </svg>
            <p class="success__number">2054439</p>
            </div>
            <p class="success__info">запросов пользователей в день в поисковых системах Яндекс и Google</p>
          </li>
          <li class="success__item">
            <div class="flex">
              <svg>
                <use xlink:href="img/sprite.svg#icon-rouble"></use>
              </svg>
            <p class="success__number">2,0</p>
            </div>
            <p class="success__info">трлн рублей объем он-лайн продаж товаров и услуг в России в год</p>
          </li>
          <li class="success__item">
            <div class="flex">
              <svg>
                <use xlink:href="img/sprite.svg#icon-stat"></use>
              </svg>
            <p class="success__number">33,2%</p>
            </div>
            <p class="success__info">среднегодовой рост бизнеса в интернете с 2019 по 2024 год</p>
          </li>
        </ul>
        @include("../form.html")
      </div>
      <button class="btn btn-reset success__btn">Заказать  услугу</button>
    </div>
  </div>
</section>
