<section id="seven" class="section team panel">
  <div class="container">
    <div class="inner team__inner">
      <div class="flex ai-center">
        <h2 class="title-h2 team__title">Команда</h2>
        <button class="btn btn-reset team__btn">Карьера в digital.tools</button>
      </div>
      <p class="subtitle team__subtitle">Мы стремимся к экспертному лидерству в отрасли</p>
      <ul class="team__list flex">
        <li class="team__item">
          <img src="img/team-01.jpg" alt="Алексей Волков" class="team__img">
          <h3 class="team__name">Алексей Волков</h3>
        </li>
        <li class="team__item">
          <img src="img/team-02.jpg" alt="Александр Бондаренко" class="team__img">
          <h3 class="title-h3 team__name">Александр Бондаренко</h3>
        </li>
        <li class="team__item">
          <img src="img/team-03.jpg" alt="Никита Дмитриев" class="team__img">
          <h3 class="title-h3 team__name">Никита Дмитриев</h3>
        </li>
        <li class="team__item">
          <img src="img/team-04.jpg" alt="Елена Синичкина" class="team__img">
          <h3 class="title-h3 team__name">Елена Синичкина</h3>
        </li>
        <li class="team__item">
          <img src="img/team-05.jpg" alt="Ольга Дубровина" class="team__img">
          <h3 class="team__name">Ольга Дубровина</h3>
        </li>
        <li class="team__item">
          <img src="img/team-06.jpg" alt="Евгений Михеев" class="team__img">
          <h3 class="title-h3 team__name">Евгений Михеев</h3>
        </li>
        <li class="team__item">
          <img src="img/team-07.jpg" alt="Виктория Овчинникова" class="team__img">
          <h3 class="title-h3 team__name">Виктория Овчинникова</h3>
        </li>
        <li class="team__item">
          <img src="img/team-08.jpg" alt="Виталий Колготин" class="team__img">
          <h3 class="title-h3 team__name">Виталий Колготин</h3>
        </li>
        <li class="team__item">
          <img src="img/team-09.jpg" alt="Марьяна Бойцова" class="team__img">
          <h3 class="title-h3 team__name">Марьяна Бойцова</h3>
        </li>
        <li class="team__item">
          <img src="img/team-010.jpg" alt="Станислав Антипов" class="team__img">
          <h3 class="title-h3 team__name">Станислав Антипов</h3>
        </li>
        <li class="team__item">
          <img src="img/team-011.jpg" alt="Федор Ермоленко" class="team__img">
          <h3 class="title-h3 team__name">Федор Ермоленко</h3>
        </li>
        <li class="team__item">
          <img src="img/team-012.jpg" alt="Анастасия Никитина" class="team__img">
          <h3 class="title-h3 team__name">Анастасия Никитина</h3>
        </li>
      </ul>
    </div>
    <p class="slogan team__slogan">DIGITAL.TOOLS</p>
  </div>
</section>
