<section class="section team">
  <div class="container">
    @include('../sidebar.html')
    <div class="inner team__inner">
      <div class="flex ai-center">
        <h2 class="title-h2 team__title">Команда</h2>
        <button class="btn btn-reset team__btn">Карьера в digital.tools</button>
      </div>
      <p class="subtitle team__subtitle">Мы стремимся к экспертному лидерству в отрасли</p>
      <ul class="team__list flex">
        <li class="team__item">
          <img src="img/team-01.jpg" alt="" class="team__img">
          <h3 class="team__name">Алексей Волков</h3>
          <p class="team__info">Эксперт в ключевых проектах агентства. Входит в список топ-70 ведущих экспертов по SEO по версии агентства контент-маркетинга Тексттерра.</p>
        </li>
        <li class="team__item">
          <img src="img/team-02.jpg" alt="" class="team__img">
          <h3 class="title-h3 team__name">Александр Бондаренко</h3>
          <p class="team__info">Отвечает за стратегическое управление компаний и работу с ключевыми клиентами.
            Более 15 лет опыта работы на позициях ТОП менеджера в банковской и страховой сфере (Сбербанк, УралСиб, Альфа-Банк). Степень MBA (London Business School, Columbia University).</p>
        </li>
        <li class="team__item">
          <img src="img/team-03.jpg" alt="" class="team__img">
          <h3 class="title-h3 team__name">Елена Синичкина</h3>
          <p class="team__info">Отвечает за работу производства по направлениям: SEO, SERM, платная реклама, Email маркетинг. Более 10 лет опыта работы в digital маркетинге.</p>
        </li>
        <li class="team__item">
          <img src="img/team-04.jpg" alt="лена Синичкина" class="team__img">
          <h3 class="title-h3 team__name">Елена Синичкина</h3>
          <p class="team__info">Отвечает за работу производства по направлениям: SEO, SERM, платная реклама, Email маркетинг. Более 10 лет опыта работы в digital маркетинге.</p>
        </li>
      </ul>
    </div>
    <p class="slogan team__slogan">DIGITAL.TOOLS</p>
  </div>
</section>
