<div class="hide-menu white">
  @include('canvas.html')
  <div class="container hide-menu__container">
    <a href="" class="mobile-logo hide-menu__mobile-logo">
      <div class="mobile-logo__icon">
        <img src="img/m-logo-1.svg" alt="" class="">
        <img src="img/m-logo-2.svg" alt="" class="">
        <img src="img/m-logo-3.svg" alt="" class="">
        <img src="img/m-logo-4.svg" alt="" class="">
        <img src="img/m-logo-5.svg" alt="" class="">
      </div>
      <span class="mobile-logo__text">DT</span>
    </a>
    <a href="" class="logo hide-menu__logo">
      <img src="img/logo.svg" alt="Лого Digital Tools" class="logo__img">
      <span class="logo__text">Digital.Tools</span>
    </a>
    <button class="btn-reset hide-menu__close js-close-hide-menu">
      <svg>
        <use xlink:href="img/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <nav class="hide-menu__nav">
      <ul class="hide-menu__list">
        <li class="hide-menu__item">
          <a href="#" class="hide-menu__link">SEO оптимизация интернет-магазинов</a>
          <p class="hide-menu__big-text">SEO оптимизация интернет-магазинов</p>
        </li>
        <li class="hide-menu__item">
          <a href="#" class="hide-menu__link">SEO аудит</a>
          <p class="hide-menu__big-text">SEO аудит</p>
        </li>
        <li class="hide-menu__item">
          <a href="#" class="hide-menu__link">SEO оптимизация молодых сайтов</a>
          <p class="hide-menu__big-text">SEO оптимизация молодых сайтов</p>
        </li>
        <li class="hide-menu__item">
          <a href="#" class="hide-menu__link">Проработка структуры</a>
          <p class="hide-menu__big-text">Проработка структуры</p>
        </li>
        <li class="hide-menu__item">
          <a href="#" class="hide-menu__link">Региональное SEO-продвижение</a>
          <p class="hide-menu__big-text">Региональное SEO-продвижение</p>
        </li>
        <li class="hide-menu__item">
          <a href="#" class="hide-menu__link">SEO-продвижение по России</a>
          <p class="hide-menu__big-text">SEO-продвижение</p>
        </li>
        <li class="hide-menu__item">
          <a href="#" class="hide-menu__link">SEO оптимизация под ключ</a>
          <p class="hide-menu__big-text">SEO оптимизация под ключ</p>
        </li>
        <li class="hide-menu__item">
          <a href="#" class="hide-menu__link">Семантическое ядро</a>
          <p class="hide-menu__big-text">Семантическое ядро</p>
        </li>
        <li class="hide-menu__item">
          <a href="#" class="hide-menu__link">Стратегия продвижения</a>
          <p class="hide-menu__big-text">Стратегия продвижения</p>
        </li>
        <li class="hide-menu__item">
          <a href="#" class="hide-menu__link">SEO оптимизация с гарантией результата</a>
          <p class="hide-menu__big-text">SEO оптимизация с гарантией результата</p>
        </li>
      </ul>
    </nav>
  </div>
</div>
