<nav class="nav header__nav">
  <ul class="nav__list">
    <li class="nav__item">
      <a href="" class="nav__link js-open-hide-menu">Услуги</a>
    </li>
    <li class="nav__item">
      <a href="" class="nav__link">Клиенты</a>
    </li>
    <li class="nav__item">
      <a href="" class="nav__link">Полезные материалы</a>
    </li>
    <li class="nav__item">
      <a href="" class="nav__link">О нас</a>
    </li>
  </ul>
  <div class="for-mobile">
    <div class="mobile-contacts">
      <a href="mailto:hello@digital.tools" class="header__link header__email">hello@digital.tools</a>
      <a href="tel:84952408341" class="header__link header__phone">8&nbsp;(495)&nbsp;240-83-41</a>
    </div>
  </div>
</nav>
