<!-- preloader-->
<style>
  .preloader {
    position: relative;
    z-index: 300;
    display: block;
    width: 125px;
    height: 125px;
    border: 4px solid transparent;
    border-top: 4px solid #fff;
    border-radius: 50%;
    animation: spin 2s linear infinite;
    -webkit-animation: spin 2s linear infinite;
  }

  .preloader__wrp {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 200;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #000;
  }
  .preloader::before,
  .preloader::after {
    content: '';
    position: absolute;
    border: 4px solid transparent;
    border-radius: 50%;
  }
  .preloader::before {
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    border-top-color: #cb000e;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3.5s linear infinite;
  }
  .preloader::after {
    top: 15px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    border-top-color: #009f90;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.75s linear infinite;
  }
  -webkit-@keyframes spin {
            -webkit-from {
              -webkit-transform: rotate(0deg);
              -ms-transform: rotate(0deg);
              transform: rotate(0deg);
            }
            -webkit-to {
              -webkit-transform: rotate(360deg);
              -ms-transform: rotate(360deg);
              transform: rotate(360deg);
            }
          }

  @-webkit-keyframes spin {
    from {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  @keyframes spin {
    from {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
</style>
<div class="preloader__wrp">
  <div class="preloader"></div>
</div>
<!-- /preloader-->
