<sidebar class="sidebar">
<!--  <a href="" class="logo sidebar__logo">-->
<!--    <img src="img/logo.svg" alt="Лого Digital Tools" class="logo__img">-->
<!--    <span class="logo__text">Digital.Tools</span>-->
<!--  </a>-->
  <div class="pagination sidebar__pagination">
    <div class="pagination__step">
      <div class="pagination__icon"></div>
    </div>
    <div class="pagination__step pagination__step_active">
      <div class="pagination__icon pagination__icon_active"></div>
    </div>
    <div class="pagination__step">
      <div class="pagination__icon"></div>
    </div>
    <div class="pagination__step">
      <div class="pagination__icon"></div>
    </div>
    <div class="pagination__step">
      <div class="pagination__icon"></div>
    </div>
    <div class="pagination__step">
      <div class="pagination__icon"></div>
    </div>
    <div class="pagination__step">
      <div class="pagination__icon"></div>
    </div>
    <div class="pagination__step">
      <div class="pagination__icon"></div>
    </div>
    <div class="pagination__step">
      <div class="pagination__icon"></div>
    </div>
  </div>
</sidebar>
