<sidebar class="sidebar">
  <ul id="fullpage-menu" class="pagination sidebar__pagination">
    <li data-menuanchor="oneS" class="pagination__step">
      <a href="#one" class="pagination__icon"></a>
    </li>
    <li data-menuanchor="twoS" class="pagination__step">
      <a href="#two" class="pagination__icon"></a>
    </li>
    <li data-menuanchor="threeS" class="pagination__step">
      <a href="#three" class="pagination__icon"></a>
    </li>
    <li data-menuanchor="fourS" class="pagination__step">
      <a href="#four" class="pagination__icon"></a>
    </li>
    <li data-menuanchor="fiveS" class="pagination__step">
      <a href="#five" class="pagination__icon"></a>
    </li>
    <li data-menuanchor="sixS" class="pagination__step">
      <a href="#six" class="pagination__icon"></a>
    </li>
    <li data-menuanchor="sevenS" class="pagination__step">
      <a href="#seven" class="pagination__icon"></a>
    </li>
    <li data-menuanchor="eightS" class="pagination__step">
      <a href="#eight" class="pagination__icon"></a>
    </li>
    <li data-menuanchor="nineS" class="pagination__step">
      <a href="#nine" class="pagination__icon"></a>
    </li>
  </ul>
</sidebar>
