html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body,
main {
  margin: 0;
  height: 100%;
}

body {
  font-family: "Circe", sans-serif;
  font-weight: 350;
  font-size: 16px;
  color: #000;
  background-color: #000;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.is-outer {
  position: relative !important; // stylelint-disable-line declaration-no-important
  left: -9999px !important; // stylelint-disable-line declaration-no-important
}

.is-hidden {
  display: none !important; // stylelint-disable-line declaration-no-important
}

.for-mobile {
  display: none;

  @include mobile {
    display: block;
  }
}

.error {
  border: 2px #ff4019 solid !important; // stylelint-disable-line declaration-no-important
}

.btn-reset {
  border: none;
  background: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.ai-center {
  align-items: center;
}

.main {

}

.section {
  position: relative;
  overflow: hidden;
  height: 120%;
  background-color: #fff;
  scroll-snap-align: start;
  transition: position .3s linear;
}

.container {
  position: relative;
  z-index: 100;
  display: grid;
  grid-column-gap: 30px;
  grid-template-columns: repeat(12, 1fr);
  margin: 0 auto;
  height: 100%;
  max-width: 1860px;
}

.inner {
  grid-column: 3/11;
  padding-top: 100px;
  height: 100%;
  max-width: 1230px;
}

.title-h1 {
  margin: 0;
  font-weight: 700;
  font-size: 120px;
  line-height: 177px;
  color: #fff;
}

.title-h2 {
  margin: 0;
  margin-bottom: 65px;
  font-weight: 800;
  font-size: 80px;
  line-height: 118px;
  text-transform: uppercase;
  color: #000;
  &_white {
    color: #fff;
  }
}

.title-h3 {
  margin: 0;
  font-weight: 800;
  font-size: 36px;
  line-height: 46px;
}

.subtitle {
  margin: 0;
  font-weight: 350;
  font-size: 20px;
  line-height: 29px;
  color: var(--color-grey);
  &_upper {
    text-transform: uppercase;
  }
}

.btn {
  z-index: 100;
  display: inline-block;
  padding: 24px 62px;
  border-radius: 5px;
  box-shadow: 0 20px 50px rgba(255, 3, 51, .5);
  font-weight: 800;
  font-size: 23px;
  letter-spacing: .15em;
  text-transform: uppercase;
  color: #fff;
  background-image: linear-gradient(90deg, #cb000e 0%, #e70a35 49.48%, #cb000e 100%);
  transition: transform .5s ease-in-out;
}

.btn:hover {
  transform: translateY(-10px) !important;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.slogan {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  font-weight: 800;
  font-size: 170px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: #e5e5e5;
  opacity: 0.3;
}

.logo {
  grid-column: 1/2;
  font-family: 'Open-Sans', sans-serif;
  font-weight: 700;
  font-size: 0;
  line-height: 0;
  color: inherit;
  &__img {
    font-size: 0;
    line-height: 0;
  }
  span {
    position: relative;
    display: inline-block;
    padding-top: 2px;
    padding-bottom: 3px;
    border-bottom: 2px solid var(--color-green);
    font-size: 20px;
    line-height: 1;
    &::after {
      content: '';
      position: absolute;
      top: -7px;
      right: -8px;
      width: 4px;
      height: 16px;
      background-image: url('../img/logo-dot.png');
      background-repeat: no-repeat;
      transform: translateY(9px);
    }
  }
}
