html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body,
main {
  margin: 0;
  height: 100%;
}

body {
  font-family: 'Circe', sans-serif;
  font-weight: 350;
  font-size: 16px;
  color: #000;
  background-color: #000;

  &.opened-menu {
    overflow: hidden;
  }
}

img {
  max-width: 100%;
}

h1, h2, h3, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.is-outer {
  position: relative !important; // stylelint-disable-line declaration-no-important
  left: -9999px !important; // stylelint-disable-line declaration-no-important
}

.is-hidden {
  display: none !important; // stylelint-disable-line declaration-no-important
}

.error {
  border: 2px #ff4019 solid !important; // stylelint-disable-line declaration-no-important
}

.btn-reset {
  border: none;
  background: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.ai-center {
  align-items: center;
}

.section {
  position: relative;
  overflow: hidden;
  height: 120%;
  background-color: #fff;
  transition: transform .3s linear;
  @include height {
    padding-bottom: 50px;
    height: auto;
  }
}

.container {
  position: relative;
  z-index: 100;
  display: grid;
  grid-column-gap: 30px;
  grid-template-columns: repeat(12, 1fr);
  //grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
  margin: 0 auto;
  width: 1860px;
  height: 100%;
  max-width: 100%;
  @include mobile {
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 15px;
    padding: 0 30px;
  }
  @include height {
    height: auto;
  }
}
@include height {
  .fp-section,
  .fp-slide,
  .fp-tableCell {
    height: auto !important;
  }
}

.inner {
  grid-column: 3/11;
  padding-top: 100px;
  height: 100%;
  max-width: 1230px;
  @media (max-width: (1600px)) {
    grid-column: 2/12;
    max-width: 100%;
  }
  @include mobile {
    grid-column: 1/7;
  }
  @include small {
    padding-top: 20px;
  }
}

.title-h1 {
  margin: 0;
  font-weight: 700;
  font-size: 120px;
  line-height: 177px;
  color: #fff;
  @media (max-width: (1400px)) {
    font-size: 90px;
    line-height: 120px;
  }
  @media (max-width: (1024px)) {
    font-size: 70px;
    line-height: 103px;
  }
  @include mobile {
    font-size: 50px;
    line-height: 74px;
  }
}

.title-h2 {
  margin-bottom: 65px;
  font-weight: 800;
  font-size: 80px;
  line-height: 118px;
  text-transform: uppercase;
  color: #000;
  @media (max-width: (1600px)) {
    margin-bottom: 10px;
    font-size: 60px;
    line-height: 90px;
  }
  @media (max-width: (1440px)) {
    font-size: 40px;
    line-height: 70px;
  }
  @include small {
    font-size: 30px;
  }

  &_white {
    color: #fff;
  }
}

.title-h3 {
  font-weight: 800;
  font-size: 36px;
  line-height: 46px;
  @media (max-width: (1440px)) {
    font-size: 30px;
  }
}

.subtitle {
  font-weight: 350;
  font-size: 20px;
  line-height: 29px;
  color: var(--color-grey);

  &_upper {
    text-transform: uppercase;
  }

  @media (max-width: (1600px)) {
    font-size: 18px;
    line-height: 25px;
  }
  @media (max-width: (1367px)) {
    font-size: 16px;
    line-height: 20px;
  }
}

.btn {
  z-index: 100;
  display: inline-block;
  padding: 24px 62px;
  border-radius: 5px;
  box-shadow: 0 20px 50px rgba(255, 3, 51, .5);
  font-weight: 800;
  font-size: 23px;
  letter-spacing: .15em;
  text-transform: uppercase;
  color: #fff;
  background-image: linear-gradient(90deg, #cb000e 0%, #e70a35 49.48%, #cb000e 100%);
  transition: transform .5s ease-in-out;
  @media (max-width: (1600px)) {
    font-size: 18px;
  }
  @media (max-width: (1367px)) {
    padding: 14px 42px;
    font-size: 16px;
  }
  @media (max-width: (1024px)) {
    padding: 19px 23px;
    font-size: 14px;
  }
}

.btn:hover {
  transform: translateY(-10px) !important; // because of the animation buttons with scrollmagic
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.slogan {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  font-weight: 800;
  font-size: 170px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: #e5e5e5;
  opacity: 0.3;
  @media (max-width: (1367px)) {
    font-size: 140px;
  }
  @include mobile {
    font-size: 90px !important;
  }
}

.logo {
  grid-column: 1/2;
  font-family: 'Open-Sans', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 0;
  color: inherit;
  transition: 1s opacity ease-in-out;
  &__img {
    font-size: 0;
    line-height: 0;
  }
  span {
    position: relative;
    display: inline-block;
    padding-top: 2px;
    padding-bottom: 3px;
    border-bottom: 2px solid var(--color-green);
    line-height: 1;
    &::after {
      content: '';
      position: absolute;
      top: -7px;
      right: -8px;
      width: 4px;
      height: 16px;
      background-image: url('../img/logo-dot.png');
      background-repeat: no-repeat;
      transform: translateY(9px);
      @media (max-width: (1366px)) {
        background-size: contain;
      }
    }
  }
  @media (max-width: (1366px)) {
    max-width: 90px;
    font-size: 13px;
  }
  @media (max-width: (1024px)) {
    max-width: 70px;
    font-size: 11px;
  }
  @include mobile {
    display: none;
  }
}

.mobile-logo {
  display: none;
  @include mobile {
    display: flex;
  }
}

.canvas {
  position: absolute;
  height: 100%;
}

.social {
  color: var(--color-green);

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    transition: color .3s ease-in-out;

    &:not(:last-child) {
      margin-right: 10px;
      padding-right: 10px;
      border-right: 1px solid var(--color-green);
    }

    &:hover {
      color: #cb000e;
    }
  }

  &__link {
    font-size: 0;
  }

  &__icon {
    width: 21px;
    height: 21px;

    &_fb {
      width: 12px;
    }
  }
}

.list {
  margin-top: 15px;
  line-height: 28px;
  @media (max-width: (1366px)) {
    font-size: 14px;
    line-height: 23px;
  }
  @media (max-width: (1024px)) {
    font-size: 10px;
    line-height: 15px;
  }
  @include mobile {
    font-size: 16px;
    line-height: 25px;
  }

  &__item {
    position: relative;
    padding-left: 15px;

    &::before {
      content: '>';
      position: absolute;
      top: 0;
      left: 0;
      margin-right: 10px;
      font-size: 16px;
      line-height: 28px;
      color: var(--color-green);
      @media (max-width: (1024px)) {
        font-size: 12px;
        transform: translateX(-5px);
      }
    }
  }

  &__link {
    text-decoration: underline;
    color: var(--color-green);
  }
}

.red-round {
  position: absolute;
  top: -20px;
  right: -20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 10px 25px rgba(255, 3, 51, .35);
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  background: linear-gradient(90deg, #cb000e 0%, #e70a35 49.48%, #cb000e 100%);
  @media (max-width: (1367px)) {
    top: -10px;
    right: -10px;
    width: 30px;
    height: 30px;
    font-size: 16px;
  }
  @include mobile {
    top: 5px;
    right: 5px;
    width: 40px;
    height: 40px;
    font-size: 18px;
  }
}

.search {
  position: absolute;
  right: 40px;
  bottom: 15%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border: 1px dashed var(--color-white);
  border-radius: 50%;
  transition: transform .5s ease-in-out;
  @media (max-width: (1367px)) {
    width: 40px;
    height: 40px;
  }
  @include mobile {
    position: static;
    justify-self: end;
    align-self: end;
    grid-column: 6;
    grid-row: 4;
    margin-bottom: 15px;
  }

  &__icon {
    width: 32px;
    height: 24px;
    transition: transform 0.5s ease-in-out;
    @media (max-width: (1367px)) {
      width: 21px;
      height: 16px;
    }
  }

  &:hover {
    transform: rotate(360deg);
  }

  &:hover &__icon {
    transform: rotate(-360deg);
  }
}

.hand {
  display: none;
  @include mobile {
    position: relative;
    display: flex;
    align-self: end;
    justify-self: start;
    grid-column: 1;
    grid-row: 4;
    width: 60px;
  }
  &__arrows {
    display: flex;
    flex-direction: column;
  }
  &__arrow {
    margin-bottom: 15px;
    width: 10px;
    height: 25px;
  }
  &__finger {
    position: absolute;
    right: 0;
    width: 33px;
    height: 39px;
    transform: translate(-50%, -10%);
    animation-name: mousePoint;
    animation-duration: 2.3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-fill-mode: backwards;
  }
}

@keyframes mousePoint {
  0% {
    top: 10%;
    opacity: 0;
  }
  20% {
    top: 20%;
    opacity: 1;
  }
  40% {
    top: 30%;
    opacity: 1;
  }
  60% {
    top: 40%;
    opacity: 1;
  }
  100% {
    top: 80%;
    opacity: 0;
  }
}

.for-desktop {
  display: block;

  @include mobile {
    display: none;
  }
}

.for-mobile {
  display: none;

  @include mobile {
    display: block;
  }
}
