// clients

.clients {
  background-color: #23252a;
  &__inner {
    @include bg-dot-left(.2, -40px);
    @include bg-dot-right(.2);
  }
  &__subtitle {
    max-width: 535px;
    color: var(--color-white);
    @include mobile {
      max-width: 100%;
      margin-bottom: 30px;
    }
  }
  &__btn {
    margin-left: auto;
    padding: 24px 62px 19px;
    @media (max-width: (1367px)) {
      padding: 14px 42px;
    }
    @include mobile {
      margin: 50px auto 0;
    }
  }
  &__list {
    z-index: 10;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 83px;
    gap: 127px 0;
    @media (max-width: (1600px)) {
      gap: 100px 0;
    }
    @media (max-width: (1367px)) {
      gap: 70px 0;
    }
    @include mobile {
      gap: 100px;
    }
  }
  &__item {
    flex-basis: 24%;
    @media (max-width: (1024px)) {
      flex-basis: 21%;
    }
  }
  &__slogan {
    opacity: .03;
  }
}
