// SERVICE

.service {
  @include section-bg(" ../img/sprite.svg#service-bg", 945, 720, 300);
  &__inner {
    @include bg-dot-right(1);
  }
  &__title {
    margin-bottom: 0;
  }
  &__btn {
    margin-top: 0;
    margin-left: auto;
    padding-right: 45px;
    padding-left: 45px;
    @include mobile {
      position: relative;
      z-index: 100;
      margin-top: 70px;
      margin-left: 0;
    }
    @include small {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  &__subtitle {
    margin-top: 80px;
    line-height: 29px;
    @media (max-width: (1600px)) {
      margin-top: 30px;
    }
    @include small {
      margin-top: 15px;
      line-height: 18px;
    }
  }
  &__items {
    position: relative;
    z-index: 10;
    margin-top: 100px;
    gap: 31px;
    @include greenline;
    @media (max-width: (1600px)) {
      margin-top: 50px;
    }
    @media (max-width: (1366px)) {
      gap: 25px;
    }
  }
  &__article {
    flex: 0 1 32%;
    padding: 30px;
    box-shadow: 0 4px 120px rgba(0, 0, 0, .15);
    background-color: var(--color-white);
    @media (max-width: (1366px)) {
      padding: 30px 20px;
    }
    @include mobile {
      box-shadow: none;
    }
    @include small {
      padding: 15px;
    }
  }
  &__caption {
    position: relative;
    display: flex;
    @media (max-width: (1440px)) {
      font-size: 22px;
      line-height: 25px;
    }
    @include mobile {
      font-size: 30px;
      line-height: 40px;
    }
    @include small {
      font-size: 18px;
      line-height: 25px;
    }
  }
  &__icon {
    margin-bottom: 12px;
    max-width: 78px;
    max-height: 76px;
    @media (max-width: (1440px)) {
      max-width: 48px;
      max-height: 46px;
    }
    @include mobile {
      margin-left: auto;
    }
  }
  &__item {
    @include small {
      font-size: 14px;
      line-height: 20px;
    }
  }
  &__slogan {
    font-size: 150px;
  }
  .case__dots {
    bottom: -40px;
    right: 30px;
  }
  .case__dot {
    opacity: 1;
    background-color: #d5dce9;
  }
}
