// specialize

.specialize {
  @include section-bg(" ../img/sprite.svg#specialize-bg", 552, 552, 370);
  &__inner {
    @include bg-dot-left(1, -155px);
    @include bg-dot-right(1);
  }
  &__subtitle {
    max-width: 535px;
  }
  &__btn {
    margin-left: auto;
    padding: 24px 38px 19px;
  }
  &__list {
    position: relative;
    z-index: 20;
    flex-wrap: wrap;
    margin-top: 56px;
    gap: 30px;
  }
  &__item {
    position: relative;
    display: flex;
    flex: 1 1 calc((100% / 3) - 60px);
    flex-direction: column;
    justify-content: flex-end;
    min-height: 235px;
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--color-green);
  }

  &__caption {
    font-weight: 800;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    background-color: var(--color-green);
  }
  &__slogan {
    opacity: 0.3;
  }
}
