// specialize

.specialize {
  @include section-bg(" ../img/sprite.svg#specialize-bg", 552, 552, 370);
  &__inner {
    @include bg-dot-left(1, -155px);
    @include bg-dot-right(1);
  }
  &__title {
    @media (max-width: (1600px)) {
      margin-bottom: 10px;
    }
  }
  &__subtitle {
    max-width: 535px;
    @include mobile {
      max-width: 100%;
      margin-bottom: 30px;
    }
  }
  &__btn {
    margin-left: auto;
    padding: 24px 38px 19px;
    @media (max-width: (1367px)) {
      padding: 14px 42px;
    }
    @include mobile {
      position: relative;
      z-index: 100;
      margin-top: 70px;
      margin-left: 0;
    }
  }
  &__list {
    position: relative;
    z-index: 20;
    flex-wrap: wrap;
    margin-top: 56px;
    gap: 30px;
    @media (max-width: (1600px)) {
     gap: 20px;
    }
    @media (max-width: (1367px)) {
      margin-top: 15px;
    }
  }
  &__item {
    position: relative;
    flex: 1 1 calc((100% / 3) - 60px);
    min-height: 235px;
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--color-green);
    img {
      width: 100%;
      max-height: 100%;
      @include small {
        height: 100%;
        object-fit: cover;
      }
    }
    @media (max-width: (1600px)) {
      min-height: auto;
      max-height: 200px;
    }
    @media (max-width: (1367px)) {
      max-height: 160px;
    }
    @include mobile {
      max-height: 100vh;
      max-height: 100vh;
    }
    @include small {
      height: 50vh;
    }
  }

  &__caption {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-weight: 800;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    background-color: var(--color-green);
    @media (max-width: (1600px)) {
      font-size: 30px;
    }
    @media (max-width: (1367px)) {
      font-size: 18px;
      line-height: 28px;
    }
    @include mobile {
      font-size: 40px;
      line-height: 50px;
    }
  }
  &__slogan {
    opacity: 0.3;
  }
  .case__dots {
    bottom: -40px;
    right: 30px;
  }
  .case__dot {
    background-color: #d5dce9;
    opacity: 1;
  }
  .case__dot.active,
  .case__dot:hover {
    background-color: var(--color-green);
  }
}
